body{
  background-image: url("slider2.jpg");
  background-attachment: fixed;
  background-size: cover;
  float: right;
}

.container{
  text-align: right;
}
.satu{
  background-color: white;
  position: absolute;
  z-index:1;
  left: 900px;
  margin-top:5px;
  margin-right: 5px;
  padding: 10px;
}
/*
Z-Index
 float
 position
*/
